<h1>Admin » Dashboard</h1>

<div class="well">
<p><b>NUMBER OF PRODUCTS:</b> <a href='/admin/products'><%=  @sum_product %></a></p>
<p> <b>NUMBER OF CATEGORIES:</b> <a href='/admin/categories'><%= @sum_category %></a></p>
</div>