<header class="page-header">
<h1>About Us</h1>
</header>

<p>Greetings Junglers, today is the day you shop outside of the box. We are a team with head-turning tastes that will help you buy things that will be rejected as donations.</p>

<p>Follow us, because you don't know what you don't need until you have it in your storage for 5+ years.</p>






